<div id='who'><ul>
  <% User.order(:current_sign_in_at).each do |user|
    # TODO we need some way for users to select the character they're playing as for a session
    # for now just use the default
    if user.character
    %>
    <li><%= link_to user.character, user.character %>
      
    </li>
  <% end end %>
</ul></div>
