<%= image_tag character.portrait_url %>
<span class='text'>
<span class='line'><%= link_to character, character %></span>
<span class='line'><%= link_to character.user, character.user %></span>
<span class='line'><%= character.user.status %></span>
</span>