#tab-nav li {
	display: inline;
}
#tab-container {
	position: relative;
}
.tab {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}
.tab-active {
	display:block;
}

/* MINERALS TAB */
.high-ore td:first-child {
	background-color: lightgreen;
}
.low-ore td:first-child {
	background-color: orange;
}
.ice td:first-child {
	background-color: lightblue;
}
